@import '../components/header';
@import '../components/section';
@import '../components/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: rgb(213, 215, 218);
}



@media (max-width: 767px) {
    .parrafo1, .parrafo2, .parrafo3 {
        flex-direction: column;
        text-align: center;
    }

    .noticias {
        width: 100%; 
        margin-bottom: 10px; 
        border: 5px solid rgb(88, 87, 86);
    }
    
    .video1, .video2, .video3 {
        margin-top: 10px; 
    }
}