@import '../components/header';
@import '../components/section';
@import '../components/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

body {

  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #0e0e12 50%, #2B86C5 100%);
  
}



@media screen and (min-width: 768px) {
  
  .seccion-noticia {
      flex-direction: row; 
  }

  .contenido-noticia {
      max-width: 70%; 
  }

  .imagen-noticia {
      width: 40%;
      max-width: 400px;
      margin-right: 50px;
  }
}
@media (max-width: 767px) {
  .buttons {
    flex-direction: column; 
  }
  .buttons a {
    
    margin-right: 0;
    margin-bottom: 10px;
}
}

