@import '../components/header';
@import '../components/section';
@import '../components/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  
}



@media (max-width: 767px) {
    .parrafo1, .parrafo2, .parrafo3 {
        flex-direction: column;
        text-align: center;
    }

    .noticias {
        width: 100%; 
        margin-bottom: 10px; 
        border: 5px solid rgb(88, 87, 86);
    }
    
    .video1, .video2, .video3 {
        margin-top: 10px; 
    }
}
@media (max-width: 767px) {
  .buttons {
    flex-direction: column; 
  }
  .buttons a {
    
    margin-right: 0;
    margin-bottom: 10px;
}
}
