


.subtitulo
{
color: white;
}
.container .texto 
{
   width: 70%;
   margin: auto;
   

}
 .container .texto 
{
    width: 90%;
    padding: 15px;
    background-color: rgb(39, 90, 90);
    border-radius: 15px;
    margin-bottom: 15px;
  
    
   
}
 .container .texto img
{
 width: 200px;
 border-radius: 15px;
 

}
.txt1
{
    font-size: xx-large;
}
p
{
   font-family:  'Nunito', sans-serif;
}

.imagen1
{
    width: 350px;
    height: 250px;
}
.imagen2
{
    width: 350px;
    height: 250px;
}
.imagen3
{
    width: 350px;
    height: 250px;
}
.contenedor-noticias {
    justify-content: center;
    flex-wrap: wrap;
}

.seccion-noticia {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    margin: 20px;  
    padding: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;  
}

.contenido-noticia {
    max-width: 100%;
}



.enlace-video a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.enlace-video a:hover {
    text-decoration: underline;
}

.imagen-noticia {
    width: 100%;  
    max-width: 100%;  
    border: 5px solid #5c1f44;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 0;  
}

@media screen and (min-width: 768px) {
    .seccion-noticia {
        flex-direction: row;  
    }

    .imagen-noticia {
        width: 40%;  
        max-width: 400px;
        margin-right: 50px;  
    }
}


h2 {
    justify-content: right;
    color: #333;
}

p {
    justify-content: center;
    color: #1d1d1d;
    font-size: x-large;
    margin-right: 20px;
}

.enlace-video a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.enlace-video a:hover {
    text-decoration: underline;
}

.imagen-noticia {
    width: 40%;  
    max-width: 400px;
    border: 5px solid #5c1f44;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 50px;  
}


.card-body
{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
.card-footer
{
    background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}



.imgjugadores
{

    height: 250px;
    width: 150px;
}
.jugador1
{
   display: flex;
   justify-content: center;
  
   border-radius: 15px ;
    
}
.jugador2
{
    display: flex;
    justify-content: center;
   margin-top: 40px;
 
   border-radius: 15px;

}
.letras
{ 
   
    font-size: large;
}
.contactos1
{
  color: #D9AFD9;
  justify-content: center;
 margin-top: 100px;
 padding: 20px;
 font-size: x-large;
}
.gif
{
    
    padding: 20px;
    width: 150px;
    height: 100px;
    border-radius: 25px;
}

.slide img
{
    height: 90vh;
}



.card-img-top
{
    height: 250px;
    width: 50px;
    
}
.imgjugador
{
     
    height: 50px;
    width: 60px;
}
.imgnacionalidad
{
   
    height: 30px;
    width: 50px;
}

.table :hover
{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
